{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" />
</head>
<body>
    {% if user.is_authenticated %}
    <header class="flex fixed width-full justify-between">
        <img class="open-sidebar" src="{% static 'img/icons8-menu.svg' %}" alt="menu" height="40px" width="40px" />
        <form>
            <input type="search" name="search" id="search" placeholder="Search" />
        </form>
        <div id="whitespace"></div>
    </header>
    <div class="sidebar">
        <ul>
            <li class="profile-li">
                <a href="/profile/{{user.username}}">Profile</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>Home</li>
            <li>Settings</li>
            <li>Posts</li>
        </ul>
        <img class="close-sidebar" src="{% static 'img/icon-close.svg' %}" alt="exit" height="40px" width="40px" />
    </div>
    <main id="main" class="height-1000 mt-20">
        {% block content %}{% endblock content %}
    </main>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
        {% endif %}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>